.input-container{
    width: 300px;
    border: 2px solid orange;
    display: flex;
    flex-direction: column;

}
.basic-details{
    width: 75%;
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
}

.form-name{
    position: relative;
}
.icon{
    position: absolute;
    left: 15px;
    top: 0;
}
.button-container{
    width: 200px;
}
.reg-ele{
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color:green;
    border-color: green;
    border-radius: 10px;
    align-self: center;
    width: 100%;
    text-align: center;
    align-content: center;
}
.button-element{
    padding: 10px;
}*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.three-bars-container{
    display: none;
}
@media screen and (max-width: 992px){

}
.img-logo{
    width: 300px;
    position: absolute;
    top: 20px;
}
nav{
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    padding: 0px 10px; 
    position: relative;
    top: 0px;
    justify-content: space-between;
    background-color:#fdf7e4;

}
nav p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;

}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style-type: none;

}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
nav li a:hover{
    color: #ff8c69;
    transition: all 0.4s ease 0s;
}
.scrolling-text{
    color: red;
}
.first-part{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:#fdf7e4;
}
.middle-part{
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    width: 100%;

}
.student-image{
    width: 450px;
    height: 300px;
    
}
.some-image{
    width: 450px;
    margin: 20px;
}

.some-content{
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
    background-color: transparent;
    margin: 20px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
.some-form{
    width: 300px;
    margin: 20px;
    float: right;
}
.login-form{
    font-size: 22px;
}
.some-para{
    color: white;
    font-size: 16px;
}
.some-para2{
    color: white;
    font-size: 16px;
    justify-content: end;
}
.para-password{
    color: blue;
}
.generate-button{
    width: 100px;
}

.button-submit-element{
    padding: 10px;
    color: white;
    background-color:green;
}
.button-submit-element{
    border-color: green;
    border-radius: 10px;
    align-self: center;
    width: 200px;
}
.input-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.students{
    font-size: 40px;
    color: black;
    padding-bottom: 5px;
}
.stdent-btm-heading{
    color: white;
    font-size: 22px;
}
.stdent-btm-para{
    font-size: 18px;
    color: #fff;
}
.input-field-2{
    width: 50px;
}
.content-part{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.text-part{
    text-align: start;
}
.content-part{
    gap: 10px;
}
